<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.mapper.CourseMapper">

    <select id="getMyQue" resultType="String">
        select
            q.que_create_by
        from
            user u, question q, course c
        where
            q.que_create_by =#{queBankId} = u.user_id
        and
            c.course_id =q.que_course_id
    </select>

    <select id="getCourseId" resultType="String">
        select
            course_id
        from
            course
        where
            course_name =#{courseName}
    </select>

    <select id="getCourseName" resultType="String">
        select
            course_name
        from
            course
        where
            course_id =#{courseId}
    </select>

</mapper>
