<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.mapper.UserMapper">
    <select id="isAdmin" resultType="com.gem.entity.User">
        SELECT * FROM user
        WHERE is_admin = 'Y'
    </select>

    <select id="isAdmin1" resultType="com.gem.entity.User">
        SELECT * FROM user
        WHERE job = 2
    </select>

    <select id="isAdmin2" resultType="com.gem.entity.User">
        SELECT * FROM user
        WHERE job = 3
    </select>
</mapper>
